################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/StudentWebAPI/v17/DocumentLayout.json
bin/
obj/
.vs/
*.user
*.suo
*.cache

